.Yellow {
  background-color: rgb(255, 203, 5)
}

.Yellow-shadow {
  background-color: rgb(199, 160, 8)
}

.Light-Blue {
  background-color: rgb(42, 117, 187)
}

.Dark-Blue {
  background-color: rgb(60, 90, 166)
}
