header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px
}

.navigation-item {
  margin: 0px 15px;
}

/* unvisited link */
.navigation-item a:link {
  color: rgb(255, 203, 5);
}

/* visited link */
.navigation-item a:visited {
  color: rgb(255, 203, 5);
}

/* mouse over link */
.navigation-item a:hover {
  color: rgb(199, 160, 8);
}

/* selected link */
.navigation-item a:active {
  color: rgb(60, 90, 166);
}
