.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
}

.star {
  width: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  padding: 2px;
  margin: 5px;
  align-self: flex-start;
}


.pokemon-gif-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('./images/open-pokeball.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

#pokemon-gif {
  width: 70px;
}