#Psychic {
  background-color: rgba(200, 200, 200, 0.6);
  border: 2px rgb(200, 200, 200) solid;
}

#Rock {
  background-color: rgba(90, 77, 65, 0.6);
  border: 2px rgb(90, 77, 65) solid;
  color: white;
}

#Bug {
  background-color: rgba(0, 220, 127, 0.6);
  border: 2px rgb(0, 220, 127) solid;
}

#Fire {
  background-color: rgba(128, 9, 9, 0.6);
  border: 2px rgb(128, 9, 9) solid;
  color: white;

}

#Ice {
  background-color: rgba(32, 195, 208, 0.6);
  border: 2px rgb(32, 195, 208) solid;
}

#Poison {
  background-color: rgba(128, 0, 128, 0.6);
  border: 2px rgb(128, 0, 128) solid;
  color: white;
}

#Water {
  background-color: rgba(0, 167, 190, 0.6);
  border: 2px rgb(0, 167, 190) solid;
}

#Grass {
  background-color: rgba(44, 176, 55, 0.6);
  border: 2px rgb(44, 176, 55) solid;
}

#Normal {
  background-color: rgba(150, 150, 150, 0.6);
  border: 2px rgb(150, 150, 150) solid;
  color: white;
}

#Dragon {
  background-color: rgba(255, 200, 0, 0.6);
  border: 2px rgb(255, 200, 0) solid;
}

#Electric {
  background-color: rgba(180,180,0, 0.6);
  border: 2px rgb(180,180,0) solid;
}

#Ground {
  background-color: rgba(161, 148, 29, 0.6);
  border: 2px rgb(161, 148, 29) solid;
}

#Fighting {
  background-color: rgba(255, 116, 64, 0.6);
  border: 2px rgb(255, 116, 64) solid;
}

#Ghost {
  background-color: rgba(177,156,217, 0.6);
  border: 2px rgb(177,156,217) solid;
}

#Fairy {
  background-color: rgba(200, 205, 252, 0.6);
  border: 2px rgb(200, 205, 252) solid;
}
